<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Temas</span>
        </div>
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-nav-list *ngIf="loginService.isLogged">
        <mat-list-item [ngStyle]="{'cursor':'auto'}" *ngFor='let lesson of lessons'>
            {{lesson.title}}
        </mat-list-item>
    </mat-nav-list>
    <mat-nav-list *ngIf="!loginService.isLogged">
        <mat-list-item [ngStyle]="{'cursor':'auto'}" *ngFor='let lesson of lessons'>
            {{lesson.title}}
        </mat-list-item>
    </mat-nav-list>

    <button mat-fab  *ngIf="loginService.isLogged"  (click)="newLesson()">
        <mat-icon>add</mat-icon>
    </button>
</mat-card>
