PruebaDAW/target/*
PruebaDAW/target/classes/META-INF/MANIFEST.MF
PruebaDAW/target/classes/META-INF/maven/com.practicaDaw/PruebaDAW/pom.properties
PruebaDAW/.idea/workspace.xml


PruebaDAW/target/classes/META-INF/maven/com.practicaDaw/PruebaDAW/pom.properties

PruebaDAW/target/classes/META-INF/maven/com.practicaDaw/PruebaDAW/pom.properties

PruebaDAW/target/classes/META-INF/MANIFEST.MF

PruebaDAW/target/classes/META-INF/MANIFEST.MF

*.jpg
*.properties
PruebaDAW/\.idea/
