<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Temas</span>
        </div>
    </mat-card-title>

    <mat-divider></mat-divider>

    <mat-expansion-panel [ngStyle]="{'cursor':'auto'}" *ngFor='let lesson of lessons'>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{lesson.title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p [ngStyle]="{'cursor':'auto'}" *ngFor='let concept of lesson.conceptSet'>
            {{concept.title}}
        </p>
        <button mat-fab *ngIf="loginService.isLogged" (click)="newConcept()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-expansion-panel>

    <button mat-fab *ngIf="loginService.isLogged" (click)="openAddLessonDialog()">
        <mat-icon>add</mat-icon>
    </button>
</mat-card>

<ng-template #addLessonDialog let-dialogRef="dialogRef">
    <div layout="column" layout-fill>
        <h2 mat-dialog-title>
           Nuevo tema
        </h2>
        <mat-dialog-content flex>
            <form #addLessonForm="ngForm">
                <div>
                    <mat-form-field flex>
                        <input matInput placeholder="Titulo del tema">
                    </mat-form-field>
                </div>
            </form>
        </mat-dialog-content>
        <mat-divider></mat-divider>
        <mat-dialog-actions align="end">
            <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Close</button>
            <button type="button" mat-button color="accent" class="text-upper"
                    (click)="saveLesson()">Guardar
            </button>
        </mat-dialog-actions>
    </div>

</ng-template>
