<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>ÍTEMS</span>
        </div>
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-list *ngFor='let item of items' layout="row">
            <mat-list-item>
                <h3 flex> {{item.info}} </h3>
                <mat-divider [vertical]= true ></mat-divider>
                <mat-radio-group id="{{item.id}}" flex>
                    <mat-radio-button value="1" checked = "{{item.state}}" disabled="{{!item.state}}">Correcto</mat-radio-button>
                    <mat-radio-button value="2" disabled = "{{item.state}}" checked = "{{!item.state}}">Incorrecto</mat-radio-button>
                </mat-radio-group>
                <mat-divider></mat-divider>
            </mat-list-item>
    </mat-list>
</mat-card>


<button mat-mini-fab  *ngIf="loginService.isLogged" (click)="openAddDialog()">
    <mat-icon>add</mat-icon>
</button>

<mat-card>
   <mat-card-title>
       <div layout="row" layout-align="start center">
           <span flex>RESPUESTAS</span>
       </div>
   </mat-card-title>
    <mat-list *ngFor='let answer of answers' layout="row">
        <mat-list-item *ngIf="!answer.correct">
            <h3 flex> {{answer.info}} </h3>
            <mat-divider [vertical]= true ></mat-divider>
            <mat-radio-group id="{{answer.id}}" flex>
                <mat-radio-button value="1" (click)="correctMan(answer.idQuestion,true)">Correcto</mat-radio-button>
                <mat-radio-button value="2" (click)="correctMan(answer.idQuestion,false)">Incorrecto</mat-radio-button>
            </mat-radio-group>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</mat-card>


<ng-template #addItemDialog let-dialogRef="dialogRef">
    <h3>Añadir Item</h3>
    <mat-dialog-content flex>
        <div class="container">
            <div class="register-item">
                <form #formItem="ngForm" class="form form-register">
                    <mat-form-field>
                        <input
                                matInput
                                [(ngModel)]="itemNew.info"
                                placeholder="Info"
                                name="info"
                                required
                        />
                    </mat-form-field>
                    <mat-checkbox (click)="itemNew.state=true" >Correcto</mat-checkbox>
                    <mat-checkbox (click)="itemNew.state=false" >Incorrecto</mat-checkbox>
                </form>
            </div>
            <mat-dialog-actions align="end">
                <button type="button" mat-raised-button class="text-upper" (click)="dialogRef.close()">Cerrar</button>
                <button mat-raised-button class="text-upper" type="button" (click)="addItem()"> Guardar </button>
            </mat-dialog-actions>
        </div>
    </mat-dialog-content>

</ng-template>

