<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>ÍTEMS</span>
        </div>
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-list *ngFor='let item of items' layout="row">
            <mat-list-item>
                <h3 flex> {{item.info}} </h3>
                <mat-divider [vertical]= true ></mat-divider>
                <mat-radio-group name="{{item.id}}" flex>
                    <mat-radio-button value="1" checked = "{{item.state}}" disabled="{{!item.state}}">Correcto</mat-radio-button>
                    <mat-radio-button value="2" disabled = "{{item.state}}" checked = "{{!item.state}}">Incorrecto</mat-radio-button>
                </mat-radio-group>
                <mat-divider></mat-divider>
            </mat-list-item>
    </mat-list>
    <button mat-fab  *ngIf="loginService.isLogged">
        <mat-icon>add</mat-icon>
    </button>
</mat-card>

<mat-card>
   <mat-card-title>
       <div layout="row" layout-align="start center">
           <span flex>RESPUESTAS</span>
       </div>
   </mat-card-title>
</mat-card>
