<mat-card>
    <h2><mat-card-title><b>CONCEPTO</b></mat-card-title></h2>

    <mat-divider></mat-divider>

    <fieldset>
        <legend><h4>CORREGIDAS</h4></legend>
    </fieldset>

    <fieldset>
        <legend><h4>PENDIENTES DE CORREGIR</h4></legend>
    </fieldset>

    <P></P>

    <button mat-raised-button color="primary" (click)='openDiagramDialog()'><mat-icon>signal_cellular_alt</mat-icon>Diagramas</button>
    <button mat-raised-button color="primary" (click)='openQuestionDialog()'>Generar Pregunta</button>

    <ng-template #diagramDialog let-dialogRef="dialogRef">
        <div layout="column" layout-fill>
            <h2 mat-dialog-title>
                Diagrama
            </h2>
            <mat-dialog-content flex>
                <ngx-charts-bar-vertical
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="single"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </mat-dialog-content>
            <mat-divider></mat-divider>
            <mat-dialog-actions align="end">
                <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Cerrar</button>
            </mat-dialog-actions>
        </div>
    </ng-template>

    <ng-template #questionDialog let-dialogRef="dialogRef">
        <div layout="column" layout-fill>
            <h2 mat-dialog-title>
                Pregunta
            </h2>
            <mat-dialog-content flex>
                <form #questionForm="ngForm">
                </form>

            </mat-dialog-content>
            <mat-divider></mat-divider>
            <mat-dialog-actions align="end">
                <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Close</button>
            </mat-dialog-actions>
        </div>
    </ng-template>

</mat-card>
