<mat-card>
    <h2><mat-card-title><b>CONCEPTO</b></mat-card-title></h2>

    <mat-divider></mat-divider>

    <fieldset>
        <legend><h4>CORREGIDAS</h4></legend>
        <mat-list *ngFor=' let answers of answer'>
            <mat-list *ngIf = 'answers.state != "pending"'>

                <mat-list *ngIf = 'answers.state == "correct"'>
                    <mat-icon>done</mat-icon>
                </mat-list>
                <mat-list *ngIf = 'answers.state == "incorrect"'>
                    <mat-icon>clear</mat-icon>
                </mat-list>
            </mat-list>
        </mat-list>
        <mat-list *ngFor=' let questions of question'>
            <mat-list-item>
                <p> {{questions.info}} </p>
                <mat-divider [vertical]= true ></mat-divider>
            </mat-list-item>
        </mat-list>
    </fieldset>

    <fieldset>
        <legend><h4>PENDIENTES DE CORREGIR</h4></legend>
        <mat-list *ngFor=' let answers of answer'>
            <mat-list *ngIf = 'answers.state == "pending"'>
                
            </mat-list>
        </mat-list>
        <mat-list *ngFor=' let questions of question'>
            <mat-list-item>
                <p> {{questions.info}} </p>
                <mat-divider [vertical]= true ></mat-divider>
            </mat-list-item>
        </mat-list>
    </fieldset>

    <P></P>

    <button mat-raised-button color="primary" (click)='openDiagramDialog()'>Diagramas</button>
    <button mat-raised-button color="primary" (click)='openQuestionDialog()'>Generar Pregunta</button>

    <ng-template #diagramDialog let-dialogRef="dialogRef">
        <div layout="column" layout-fill>
            <h2 mat-dialog-title>
                Diagrama
            </h2>
            <mat-dialog-content flex>
                <ngx-charts-bar-vertical
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="single"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </mat-dialog-content>
            <mat-divider></mat-divider>
            <mat-dialog-actions align="end">
                <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Cerrar</button>
            </mat-dialog-actions>
        </div>
    </ng-template>

    <ng-template #questionDialog let-dialogRef="dialogRef">
        <div layout="column" layout-fill>
            <h2 mat-dialog-title>
                Pregunta
            </h2>
            <mat-dialog-content flex>
                <form #questionForm="ngForm">
                </form>

            </mat-dialog-content>
            <mat-divider></mat-divider>
            <mat-dialog-actions align="end">
                <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Close</button>
            </mat-dialog-actions>
        </div>
    </ng-template>

</mat-card>
