<div *ngIf="lesson">
  <mat-card>
    <mat-card-title> Lesson "{{ lesson.title }}"</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form #bookForm="ngForm">
        <div *ngIf="lesson.id"><label>Id: </label>{{ lesson.id }}</div>
        <div>
          <mat-form-field>
            <input
                    matInput
                    [(ngModel)]="lesson.title"
                    placeholder="Title"
                    #bookFormElement
                    #bookFormControl="ngModel"
                    name="title"
                    required
            />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div layout="row" layout-align="end center">
        <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
        <button
                mat-raised-button
                color="accent"
                (click)="save()"
                [disabled]="bookForm === undefined || (bookForm && !bookForm.valid)"
                class="push-left-sm"
        >
          Save
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
