{{>header}}
       <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h2 class="card-title">CONCEPTO 2</h2>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <th>
                                            PREGUNTAS CORREGIDAS
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th>
                                            PREGUNTAS POR CORREGIR
                                        </th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <h5>{{info}}</h5>
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                                <i class="material-icons">check</i>
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <!--tr>
                                            <td>
                                                PREGUNTA 2:
                                            </td>
                                            <td>
                                                RESPUESTA ABIERTA 2
                                            </td>
                                            <td>
                                                <i class="material-icons">close</i>
                                            </td>
                                            <td>
                                                PREGUNTA 8:
                                            </td>
                                            <td>
                                                RESPUESTA ABIERTA 8
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                PREGUNTA 3:
                                            </td>
                                            <td>
                                                RESPUESTA CERRADA 3
                                            </td>
                                            <td>
                                                <i class="material-icons">check</i>
                                            </td>
                                            <td>
                                                PREGUNTA 9:
                                            </td>
                                            <td>
                                                RESPUESTA ABIERTA 9
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                PREGUNTA 4:
                                            </td>
                                            <td>
                                                RESPUESTA ABIERTA 4
                                            </td>
                                            <td>
                                                <i class="material-icons">check</i>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                PREGUNTA 5:
                                            </td>
                                            <td>
                                                RESPUESTA CERRADA 5
                                            </td>
                                            <td>
                                                <i class="material-icons">check</i>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                PREGUNTA 6:
                                            </td>
                                            <td>
                                                RESPUESTA CERRADA 6
                                            </td>
                                            <td>
                                                <i class="material-icons">close</i>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-left: 39%" data-toggle="modal" data-target="#exampleModal">
                            Diagramas <i class="material-icons">signal_cellular_alt</i>
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Chart</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card card-chart">
                                            <div class="card-header card-header-primary">
                                                <div class="ct-chart" id="websiteViewsChart"></div>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Progress</h4>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{{>footer}}
