{{>header}}
       <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                             <div class="card">
                                 {{#concept}}
                                     {{#idConcept}}
                                          {{#picture}}
                                               <img src='/uploads/{{concept.picture}}' class="card-img-top"/>
                                          {{/picture}}
                                     {{/idConcept}}
                                 {{/concept}}
                             </div>
                            <div class="card-header card-header-primary">
                                <h2 class="card-title">Concepto</h2>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <th>
                                            PREGUNTAS CORREGIDAS
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>

                                        <th>
                                            PREGUNTAS PENDIENTES
                                        </th>
                                        <th></th>
                                        </thead>
                                        <tbody>



                                        <tr>
                                            <td> {{#question}}
                                                <h5>{{info}}</h5>
                                            </td>


                                            <td>{{#answer}}
                                                <h5>{{info}}</h5>
                                            </td>

                                            <td>
                                            {{#state}}
                                                <i class="material-icons">check</i>
                                            {{/state}}
                                            {{^state}}
                                                    <i class="material-icons">close</i>
                                            {{/state}}

                                            {{/answer}}
                                            </td>
                                            {{/question}}


                                                {{#questionPending}}
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                            <td>
                                                <h5>{{info}}</h5>
                                            </td>{{/questionPending}}




                                            <td> {{#answerPending}}
                                                <h5>{{info}}</h5>
                                            </td>{{/answerPending}}



                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="content">
                                <button type="button" class="material-icons" data-toggle="modal"
                                        data-target="#exampleModal">
                                    add_circle_outline
                                </button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">

                                            <div class="modal-body">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                                </button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary" style="margin-left: 39%" data-toggle="modal" data-target="#exampleModal">
                            Diagramas <i class="material-icons">signal_cellular_alt</i>
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Chart</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card card-chart">
                                            <div class="card-header card-header-primary">
                                                <div class="ct-chart" id="websiteViewsChart"></div>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Progress</h4>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{{>footer}}
