
<!-- MODAL TIPO 0-->
{{#question0}}
    <div class="modal" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="addQuestion">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addQuestionHead">{{#question}}{{info}}{{/question}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/saveAnswer/{{#question}}{{idQuestion}}{{/question}}" method="post">
                        <div class="form-group">
                            <label for="title">Respuesta</label>
                            <input type="text" id="info" name="info"
                                   {{#answer}}value="{{info}}"{{/answer}} class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar tema</button>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/question0}}
<!-- END MODAL TIPO 0 -->
<!-- MODAL TIPO 1-->
{{#question1}}
    <div class="modal fade bd-example-modal-xl" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">{{#question}}{{info}}{{/question}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="textQuestion" id="textQuestion"
                                               value="Correct">
                                        Correcta
                                        <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="textQuestion" id="textQuestion"
                                               value="Incorrect">
                                        Incorrecta
                                        <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal body -->

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addAnswer(1)">Enviar respuesta</button>
                </div>

            </div>
        </div>
    </div>
{{/question1}}
<!-- END MODAL TIPO 1 -->
<!-- MODAL TIPO 2-->
{{#question2}}
    <div class="modal" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="addQuestion">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addQuestionHead">{{#question}}{{info}}{{/question}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/saveAnswer/{{#question}}{{idQuestion}}{{/question}}" method="post">
                        <div class="form-group">
                            <label for="title">Respuesta</label>
                            <input type="text" id="info" name="info"
                                   {{#answer}}value="{{info}}"{{/answer}} class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar tema</button>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/question2}}
<!-- END MODAL TIPO 2 -->
<!-- MODAL TIPO 3-->
{{#question3}}
    <div class="modal fade bd-example-modal-xl" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">{{#question}}{{info}}{{/question}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>
                                <form>
                                    {{#options}}
                                    <input  id="textQuestion" class="form-check-input" type="checkbox" name="respuesta{{idItem}}">{{info}}<br>
                                    {{/options}}
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal body -->

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addAnswer(1)">Enviar respuesta</button>
                </div>

            </div>
        </div>
    </div>
{{/question3}}
<!-- END MODAL TIPO 3 -->
<!-- MODAL TIPO 4-->
{{#question4}}
    <div class="modal fade bd-example-modal-xl" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">{{#question}}{{info}}{{/question}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="...">
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="...">
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="...">
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="...">
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="...">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal body -->

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addAnswer(1)">Enviar respuesta</button>
                </div>

            </div>
        </div>
    </div>
{{/question4}}
<!-- END MODAL TIPO 4 -->
<script>
    function addAnswer() {
        $("#textQuestion").each(function (key, value) {
            var data="";
            data=data+""+$(this).attr("value");
            console.log(data);
        });


    }

</script>